<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h2>your drive</h2>
    <button class="new-folder-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-folder-plus-icon lucide-folder-plus">
            <path d="M12 10v6" />
            <path d="M9 13h6" />
            <path
                d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
        </svg> NEW FOLDER</button>

    <button class="upload-file-button"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="lucide lucide-upload-icon lucide-upload">
            <path d="M12 3v12" />
            <path d="m17 8-5-5-5 5" />
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
        </svg> UPLOAD FILE</button>

    <!--  dialog for file  upload -->
    <dialog class="file-upload-dialog">
        <form action="/profile" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" />
            <div>
                <button type="button" class="file-upload-cancel-button">CANCEL</button>
                <button type="submit" class="file-upload-send-button">SEND</button>
            </div>
        </form>
    </dialog>


    <div class="folder-and-files-container">
        <% folders.forEach((folder)=> { %>
            <a href="/drive/<%= folder.id %>" class="folder-achor-tag">
                <div class="folder-div" data-folder-id="<%= folder.id %>">

                    <div class="folder-title-div">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-folder-icon lucide-folder">
                            <path
                                d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
                        </svg>
                        <p>
                            <%= folder.name %>
                        </p>
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical three-dots-icon">
                        <circle cx="12" cy="12" r="1" />
                        <circle cx="12" cy="5" r="1" />
                        <circle cx="12" cy="19" r="1" />
                    </svg>

                    <div class="folder-options-dialog">
                        <form action="/drive/del/<%= folder.id %>" method="post" class="delete-folder-form">
                            <button type="submit" class="menu-delete" data-folder-id="<%= folder.id %>">delete</button>
                        </form>
                        <p class="menu-rename" data-folder-id="<%= folder.id %>" data-folder-name="<%= folder.name %>">
                            rename</p>
                    </div>

                    <dialog class="folder-rename-dialog">
                        <form action="/drive/rename/<%= folder.id %>" method="post">
                            <input type="text" name="folder-id" id="folder-id" hidden>
                            <div>
                                <input type="text" name="folder-rename" id="folder-rename">
                            </div>
                            <button type="reset" class="cancel-folder-rename-button"
                                id="cancel-folder-rename-button">CANCEL</button>
                            <button type="submit" class="submit-rename-folder-button"
                                id="submit-rename-folder-button">RENAME</button>
                        </form>
                    </dialog>

                </div>
            </a>
            <% }) %>
    </div>

    <dialog class="create-folder-dialog">
        <form action="/drive/newfolder" method="post">
            <input type="hidden" name="parent-folder-id" value="<%= parentFolderId %>">
            <div>
                <label for="folder-name">Name?</label>
                <input type="text" name="folder-name" id="folder-name">
            </div>
            <button type="reset" class="cancel-new-folder-button">CANCEL</button>
            <button type="submit" class="create-new-folder-button">CREATE</button>
        </form>
    </dialog>

    <script src="/script.js"></script>
</body>

</html>